{% extends 'store/nav.html' %}
{% block content %}
  <!-- Intro -->
  <section>

    <!-- Carousel Wrapper -->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">

        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>

        <li data-target="#carousel-example-1z" data-slide-to="1"></li>

        <li data-target="#carousel-example-1z" data-slide-to="2"></li>

      </ol>
      <!-- Indicators -->

      <!-- Slides -->
      <div class="carousel-inner" role="listbox">

        <!-- First slide -->
        <div class="carousel-item active">

          <div class="view h-100">

            <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce4.jpg"
              alt="First slide">

            <div class="mask">

              <!-- Caption -->
              <div class="full-bg-img flex-center white-text">

                <ul class="animated fadeIn col-10 list-unstyled">

                  <li>

                    <p class="h1 red-text mb-4 mt-5">

                      <strong>Sale off 30% on every saturday!</strong>

                    </p>

                  </li>

                  <li>

                    <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore

                      veritatis et quasi architecto beatae</h5>

                  </li>

                  <li>

                    <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                      class="btn btn-danger btn-rounded" rel="nofollow">See more!</a>

                  </li>

                </ul>

              </div>
              <!-- Caption -->

            </div>

          </div>

        </div>
        <!-- First slide -->

        <!-- Second slide -->
        <div class="carousel-item h-100">

          <div class="view h-100">

            <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce2.jpg"
              alt="Second slide">

            <div class="mask">

              <!-- Caption -->
              <div class="full-bg-img flex-center white-text">

                <ul class="animated fadeIn col-10 list-unstyled">

                  <li>

                    <p class="h1 dark-grey-text mb-4">

                      <strong>Nemo enim ipsam voluptatem quia voluptas</strong>

                    </p>

                  </li>

                  <li>

                    <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore

                      veritatis et quasi architecto beatae</h5>

                  </li>

                  <li>

                    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                      class="btn btn-primary btn-rounded" rel="nofollow">Read more</a>

                  </li>

                </ul>

              </div>
              <!-- Caption -->

            </div>

          </div>

        </div>
        <!-- Second slide -->

        <!-- Third slide -->
        <div class="carousel-item">

          <div class="view h-100">

            <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce3.jpg"
              alt="Third slide">

            <div class="mask">

              <!-- Caption -->
              <div class="full-bg-img flex-center white-text">

                <ul class="animated fadeIn col-md-10 text-center text-md-right list-unstyled">

                  <li>

                    <p class="h1 blue-text mb-4 mt-5 pr-lg-5">

                      <strong>Sale off 20% on every headphones!</strong>

                    </p>

                  </li>

                  <li>

                    <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5 pr-lg-5">Tempora incidunt ut labore et

                      dolore veritatis et quasi</h5>

                  </li>

                </ul>

              </div>
              <!-- Caption -->

            </div>

          </div>

        </div>
        <!-- Third slide -->

      <!-- Controls -->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        <span class="sr-only">Previous</span>

      </a>

      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">

        <span class="carousel-control-next-icon" aria-hidden="true"></span>

        <span class="sr-only">Next</span>

      </a>
      <!-- Controls -->

    </div>


    </div>

  </section>
  <!-- Intro -->

  <!-- Main Container -->
  <div class="container">

    <!-- Grid row -->
    <div class="row pt-4">

      <!-- Content -->
      <div class="col-lg-12">        

        <!-- Section: Advertising -->
        <section>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-12">

              <!-- Image -->
              <div class="view  z-depth-1">

                <img src="https://mdbootstrap.com/img/Photos/Others/ecommerce5.jpg" class="img-fluid"
                  alt="sample image">

                <div class="mask rgba-stylish-slight">

                  <div class="dark-grey-text text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">

                    <div>

                      <a>

                        <span class="badge badge-primary">SALE</span>

                      </a>

                      <h2 class="card-title font-weight-bold pt-md-3 pt-1">

                        <strong>Sale from 20% to 50% on every tablet!

                        </strong>

                      </h2>

                      <p class="pb-lg-3 pb-md-1 clearfix d-none d-md-block">Lorem ipsum dolor sit amet, consectetur

                        adipisicing elit. </p>

                      <a class="btn mr-0 btn-primary btn-rounded clearfix d-none d-md-inline-block">Read more</a>

                    </div>

                  </div>

                </div>

              </div>
              <!-- Image -->

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: Advertising -->
        </div>

        <!-- Section: Last items -->
        <section>

          <hr class="mb-5">

          <!-- Grid row -->
          <div class="row">


            {% for item in items %}
              <!-- Grid column -->
              {% if forloop.counter <= 8 %}
                <div id="item-{{ forloop.counter }}" class="col-lg-3 col-md-6 mb-4 show">

                <!-- Card -->
                <div class="card card-ecommerce">
                  <!-- Card image -->
                  <div class="view overlay">
                    <img src="{{ item.img_one }}" class="img-fluid"
                      alt="sample image">

                    <a href="{% url 'store:items' item_id=item.id %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">
                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">
                      <strong>
                        <a href="{% url 'store:items' item_id=item.id %}"
                         id="{{item.id}}-name" class="dark-grey-text">{{ item.name }}</a>
                      </strong>
                    </h5>

                    {% if item.available %}
                    <span class="badge badge-danger mb-2">Displonible</span>
                    {% endif %}

                    <!-- Rating -->
                    <ul class="rating">
                      {% for i in '12345'|make_list %}
                        {% if item.rate >= forloop.counter %}
                          <li>
                            <i class="fas fa-star blue-text"></i>
                          </li>
                        {% else %}
                          <li>
                            <i class="fas fa-star grey-text"></i>
                          </li>
                          {% endif %}
                          {% endfor %}
                    </ul>

                    <!-- Card footer -->
                    <div class="card-footer pb-0">
                      <div class="row mb-0">
                        <span class="float-left">
                          <strong id="{{item.id}}-price">{{ item.price }}</strong><strong>$</strong>
                        </span>

                        <span class="float-right">
                          <a onclick="add_to_cart('{{item.id}}', '{{csrf_token}}')"
                             data-toggle="tooltip" data-placement="top" title="Add to Cart">
                            <i class="fas fa-shopping-cart ml-3"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- Card content -->
                </div>
                <!-- Card -->
              </div>
              {% endif %}
              <!-- Grid column -->
            {% endfor %}

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row justify-content-center mb-4">

            <a href="/search/" class="btn btn-outline-blue">Voir tout</a>

          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: Last items -->

      </div>
      <!-- Content -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Main Container -->

  {% endblock %}