{% extends 'store/nav.html' %}

{% block content %}

{% if errors %}
    <div>
      {% for error in errors %}
      {% autoescape off %}
        {{ error }}
      {% endautoescape %}
      {% endfor %}
    </div>
    {% endif %}

    <!-- Sidebar -->
    <div class="wrapper">
      <nav id="Sidebar">
        

        <ul class="list-unstyled components">
          <li class="active">
            <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Sidebar -->

  {% if items %}
    <!-- ITEMS DISPLAY-->
    <section>

        <hr class="mb-5">
        <hr class="mb-5">

        <!-- Grid row -->
        <div class="container">
        <div class="row">
            {% for item in items %}
              <!-- Grid column -->
                <div id="item-{{ forloop.counter }}" class="col-lg-3 col-md-6 mb-4 show">

                <!-- Card -->
                <div class="card card-ecommerce">
                  <!-- Card image -->
                  <div class="view overlay">
                    <img src="{{ item.img_one }}" class="img-fluid"
                      alt="sample image">

                    <a href="{% url 'store:items' item_id=item.id %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">
                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">
                      <strong>
                        <a id="{{item.id}}-name" href="{% url 'store:items' item_id=item.id %}" class="dark-grey-text">{{ item.name }}</a>
                      </strong>
                    </h5>

                    {% if item.available %}
                    <span class="badge badge-danger mb-2">Displonible</span>
                    {% endif %}

                    <!-- Rating -->
                    <ul class="rating">
                      {% for i in '12345'|make_list %}
                        {% if item.rate >= forloop.counter %}
                          <li>
                            <i class="fas fa-star blue-text"></i>
                          </li>
                        {% else %}
                          <li>
                            <i class="fas fa-star grey-text"></i>
                          </li>
                          {% endif %}
                          {% endfor %}
                    </ul>

                    <!-- Card footer -->
                    <div class="card-footer pb-0">
                      <div class="row mb-0">
                        <span class="float-left">
                          <strong id="{{item.id}}-price">{{ item.price }}</strong><strong>$</strong>
                        </span>

                        <span class="float-right">
                          <a onclick="add_to_cart('{{item.id}}', '{{csrf_token}}')" 
                            class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                            <i class="fas fa-shopping-cart ml-3"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- Card content -->
                </div>
                <!-- Card -->
              </div>
              <!-- Grid column -->
            {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}